# Misc - who knows how these are organized
# rm quar xattr from downloaded files
alias dquar=" xattr -d com.apple.quarantine"
alias ll="ls -althG"
alias lll="ls -althG@"
# G is mac specifc.
# May need to make this depend on OS if I ever use linux again :)
alias ls="ls -G"
alias lsd="ls -d */"
alias cp="cp -i"
alias mv="mv -i"
alias df="df -h"
alias du="du -h"
alias pgrep="pgrep -a"
alias locate="locate -i"
alias grep="grep -i --color=auto"
alias gg="grep -i --color=auto"
alias cc="clear"
alias cd..="cd .."
alias path="echo $PATH"
alias taill="tail -1" #last is a system command
alias tt="ls -t | head"
alias cdd="cd .."
alias oo="open ."
cdl() { cd $1 && ls; }
alias today='date +"%m/%d/%y"'

# only works on mac but w/e
alias beep="echo -n -e \"\\a\\c\""

# Manage dot files with git
alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
alias confit=config
alias please='sudo !!'

# schenanigans
alias http="python -m SimpleHTTPServer"
alias rot13='tr "A-Za-z" "N-ZA-Mn-za-m"'
alias e='tr e E'

if [[ -z $(hash pbcopy) ]]; then
    alias ehh="echo -n ¯\\\_\(ツ\)_/¯ | pbcopy"
    alias rr="echo 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' | pbcopy"
fi

# quickly edit this file :)
alias epro="vim ~/.aliases"
alias ss="source ~/.aliases"

# various locations
# TODO make this an array so that it's not all or one with these locations
export TESS_DESK=~/Desktop/
export TESS_DROP=~/Dropbox/
export TESS_DOWNLOADS=~/Downloads/
export TESS_GIT=~/Github/
export TESS_NOTES=~/Notes/
export TESS_STICKY=~/Sticky/
export TESS_SAND=~/Sandbox/
export TESS_SCREENSHOTS=~/Screenshots/
export TESS_SCHOOL=~/School/

if [[ -d $TESS_DESK && -d $TESS_DOWNLOADS && -d $TESS_GIT && -d $TESS_NOTES
    && -d $TESS_STICKY && -d $TESS_SAND && -d $TESS_SCREENSHOTS && -d $TESS_DROP ]]; then
    alias desk="cd $TESS_DESK"
    alias down="cd $TESS_DOWNLOADS"
    alias odwon="open $TESS_DOWNLOADS"
    alias gitt="cd $TESS_GIT"
    alias code="cd $TESS_GIT"
    alias notes="cd $TESS_NOTES"
    alias sand="cd $TESS_SAND"
    alias notes="cd $TESS_NOTES"
    alias sticky="cd $TESS_STICKY"
    alias school="cd $TESS_SCHOOL"
    alias skl="cd $TESS_SCHOOL"
    alias home="cd ~"
    alias drop="cd $TESS_DROP"
    alias shott="cd $TESS_SCREENSHOTS"
else
    echo An expected directory is missing. Please fix system manually. >&2
fi


if [[ -d "$HOME/bin" ]] ; then
    PATH="${PATH}:$HOME/bin"
fi
export PATH=/usr/local/opt/ruby/bin:$PATH
