[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[user]
    name = Tess Huelskamp
    email = tess@huelskamp.io
[core]
    editor = vim
    excludesfile = /Users/tess/.gitignore
[alias]

    a = add
    amend = commit --amend
    ammend = commit --amend
    bav = branch -av
    bd = branch -D
    br = branch
    cb = rev-parse --abbrev-ref HEAD
    cm = commit -m
    co = checkout
    d = diff
    difff = diff --name-only
    gud = reset --hard HEAD
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%C(yellow)%d %Cgreen%cr %Cblue%an%Creset %s' --date=relative --all

    nb = "!(currentBranch=$(git rev-parse --abbrev-ref HEAD); [ $currentBranch == 'master' ] || [ $currentBranch == 'main' ] ) && ( git checkout -b $(pbpaste) ) || echo 'Error: Not on main branch'"
    nbb = "!git checkout -b $(pbpaste)"

    pu = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
    pushh = push --force
    rav = remote -v
    s = status
    st = status
    unstage = reset HEAD --


[push]
    default = simple
[pull]
	ff = only
